USE [master]
GO
/****** Object:  Database [SKTTakip]    Script Date: 15.11.2023 02:27:54 ******/
CREATE DATABASE [SKTTakip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SKTTakip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SKTTakip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SKTTakip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SKTTakip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SKTTakip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SKTTakip]
GO
/****** Object:  Table [dbo].[Tbl_IcecekIade]    Script Date: 15.11.2023 02:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_IcecekIade](
	[urunId] [int] IDENTITY(1,1) NOT NULL,
	[urunAdi] [nvarchar](50) NULL,
	[urunTuru] [nvarchar](50) NULL,
	[sktTett] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Icecekler]    Script Date: 15.11.2023 02:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Icecekler](
	[urunId] [int] NULL,
	[urunAdi] [nvarchar](50) NULL,
	[urunTuru] [nvarchar](50) NULL,
	[sktTett] [date] NULL,
	[secim] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_YiyecekIade]    Script Date: 15.11.2023 02:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_YiyecekIade](
	[urunId] [int] IDENTITY(1,1) NOT NULL,
	[urunAdi] [nvarchar](50) NULL,
	[urunTuru] [nvarchar](50) NULL,
	[sktTett] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Yiyecekler]    Script Date: 15.11.2023 02:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Yiyecekler](
	[urunId] [int] IDENTITY(1,1) NOT NULL,
	[urunAdi] [nvarchar](50) NULL,
	[urunTuru] [nvarchar](50) NULL,
	[sktTett] [date] NULL,
	[secim] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_YiyecekIade] ON 

INSERT [dbo].[Tbl_YiyecekIade] ([urunId], [urunAdi], [urunTuru], [sktTett]) VALUES (108, N'deneme', N'', CAST(N'2023-07-29' AS Date))
INSERT [dbo].[Tbl_YiyecekIade] ([urunId], [urunAdi], [urunTuru], [sktTett]) VALUES (109, N'deneme', N'', CAST(N'2023-07-15' AS Date))
SET IDENTITY_INSERT [dbo].[Tbl_YiyecekIade] OFF
GO
USE [master]
GO
